/* Importation des fonts */
@font-face {
    font-family: 'Burbank-Bold';
    src: url('assets/fonts/burbank-big-wide-bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Burbank-Medium';
    src: url('assets/fonts/burbank-big-wide-medium.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Burbank-Medium', sans-serif;
}

body {
    background-color: #181818;
    color: white;
    text-align: center;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    border-bottom: 2px solid #ff4655;
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Burbank-Bold', sans-serif;
    font-size: 28px;
    color: #ff4655;
    transform: translateY(3px);  /* Ajustement optique */
}

/* Boutons du header */
nav a {
    color: #ff4655;
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

nav a:hover{
    background-color: #ff4655;
    color: white;
}

/* Main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 10%;
}

main h2{
    font-family: 'Burbank-Bold', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

main h3{
    font-family: 'Burbank-Bold', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

a{
    color: #ff4655;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#main-container{
    display:flex;
    width:100%;
    padding: 20px;
    justify-content: space-around;
    gap: 10px;
    align-items: flex-start;
}

#search-container {
    background: #222;
    padding: 20px;
    margin: 20px 30px;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#search-bar{
    display:flex;
    width:95%;
    gap : 10px;
}

#search-bar #fav-btn{
    padding: 5px 10px;
    background: #333;
    border: 1px solid #444;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

#search-bar #fav-btn:hover{
    background: #e03e4f;
}

#search-bar #fav-btn:disabled,
#search-bar #fav-btn.disabled {
    background: #555;
    cursor: not-allowed;
    opacity: 0.5;
}

#fav-icon{
    width: 20px;
    margin:0;
    filter:invert();
}

#player-name {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background: #333;
    color: white;
}

#time-window-select {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#time-window-select input[type="radio"] {
    margin-right: 5px;
}

button#search-btn {
    padding: 10px 20px;
    border: none;
    background: #ff4655;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button#search-btn:disabled,
button#search-btn.disabled {
    background: #555;
    cursor: not-allowed;
    opacity: 0.5;
}

button#search-btn:hover {
    background: #e03e4f;
}

p.descripteur{
    margin-bottom: -15px;
    color: #BBBBBB;
}

#response-container {
    background: #222;
    padding: 30px;
    margin: 20px 30px;
    border-radius: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#response-container h1{
    font-family: 'Burbank-Bold', sans-serif;
    font-size: 28px;
    color: white;
}

#response-valid{
    display: flex;
    width:100%;
    flex-direction: column;
}

#response-valid h1{
    color: #e03e4f;
    justify-self: start;
    text-align: start;
}

#response-valid .horizontal{
    display: flex;
    width:100%;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}

#response-valid .horizontal div{
    background: #333;
    padding: 20px;
    border-radius: 10px;
    flex:1 1 30%;
    min-width: 150px;
}

p.number{
    font-size: 50px;
    color: #BBBBBB;
    vertical-align: center;
    transform: translateY(5px);
}

p.number-subtitle {
    font-size: 15px;
    color: #BBBBBB;
    margin-top: 10px;
}

hr{
    margin : 20px 0 10px;
    width: 100%;
    border: 1px solid #333333;
}


/* favoris container */

#fav-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    width: 100%;
    margin-bottom:20px;
}

#fav-container hr{
    margin-top:0;
}

#fav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#fav-list button {
    background: #333;
    color: white;
    border: 1px solid #444;
    border-radius: 50px;
    padding: 5px 17px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 10px;
}

#fav-list button:hover {
    background: #555555;
}

/* Style custom pour les Radio Buttons */
#platform-select {
    position: relative;
    display: inline-flex;
    background-color: #222;
    border-radius: 25px;
    padding: 5px;
    border: 2px solid #ff4655;
    margin: 10px auto;
}

#platform-select input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

#platform-select label {
    position: relative;
    z-index: 2;
    width:70px;
    padding: 8px 15px;
    margin: 0 2px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #ff4655;
    transition: color 0.3s ease;
    text-align: center;
    user-select: none;
}

#platform-select .selector {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    border-radius: 20px;
    background-color: #ff4655;
    transition: all 0.3s ease;
    z-index: 1;
}

#platform-select input[type="radio"]:checked + label {
    color: white;
}


#time-window-select {
    position: relative;
    display: inline-flex;
    background-color: #222;
    border-radius: 25px;
    padding: 5px;
    border: 2px solid #ff4655;
    margin: 10px auto;
}

#time-window-select input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

#time-window-select label {
    position: relative;
    z-index: 2;
    width: 100px;
    padding: 8px 15px;
    margin: 0 2px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #ff4655;
    transition: color 0.3s ease;
    text-align: center;
    user-select: none;
}

#time-window-select .selector {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    border-radius: 20px;
    background-color: #ff4655;
    transition: all 0.3s ease;
    z-index: 1;
}

#time-window-select input[type="radio"]:checked + label {
    color: white;
}

/* positions spécifiques pour chaque plateforme */
#platform-select input[value="epic"]:checked ~ .selector {
    left: 4px;
    width: 75px;
}

#platform-select input[value="psn"]:checked ~ .selector {
    left: 78px;
    width: 75px;
}

#platform-select input[value="xbl"]:checked ~ .selector {
    left: 153px;
    width: 75px;
}

#time-window-select input[value="lifetime"]:checked ~ .selector {
    left: 4px;
    width: 110px;
}

#time-window-select input[value="season"]:checked ~ .selector {
    left: 114px;
    width: 110px;
}

.hidden{
    display: none !important;
}

.favorite-player {
    background: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    min-height: 120px; /
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.favorite-player h3 {
    font-size: 20px;
    color: #ff4655;
    font-weight: bold;
    min-height: 40px; /* Fixer une hauteur pour uniformiser l'alignement */
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-player p {
    font-size: 16px;
    color: white;
    margin: 5px 0;
}

.favorite-title{
    display: flex;
    width:100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.favorite-title h3{
    margin: 0;
    margin-left:5px;
}

.favorite-title h3:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

strong{
    color: #ff4655;
}